{% block recaptcha_widget %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function RecaptchaSubmit(token) {
            var element=document.getElementById( '{{ id }}' );
            while (element.parentElement()!==null)
            {
                if(element.tagName==='FORM')
                {
                    element.submit();
                    break;
                }
                else
                {element=element.parentElement();}
            }
        }
    </script>

    <div class="g-recaptcha" data-sitekey="6Lf2PIIbAAAAANQClPiqK3Ee9VoSt25Xg4kTG23e" data-callback="RecaptchaSubmit"></div>

{% endblock %}

